<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="horizontal-center top-spacing">Language Detector</h2>
      <div class="form-group">
        <label class="top-spacing" for="text">Enter Text:</label>
        <textarea class="form-control" id="text" [(ngModel)]="textInput" (input)="detectLanguage()"></textarea>
        <div *ngIf="!isValidLength()" class="alert alert-warning">
          Please enter atleast 10 characters
        </div>
      </div>
      <div class="result top-spacing horizontal-center" *ngIf="result">{{ result }}</div>
    </div>
  </div>
</div>